* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.items {
    background-color: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}

.item-10 {
    flex: 1;
}

.item-2 {}

.item-3 {}

.item-4 {}

.item-5 {}